// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #20C0F3;
$secondary: #09DCA4;

$primary1: #1B5A90;
$secondary1: #4EE9FF;

$blue1: #00D0F1;
$green1: #7BB13C;
$red1: #E84646;
$orange1: #FFBC34;
